body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
}
.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: #141414;
      color: whitesmoke;
}
#results{
    background-color: #14141479;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#movieHeading{
    background-color:#141414f1;
    border-color:#141414;
    color:white;
}
#movieBody{
    background-color: whitesmoke;
    color: #141414;
}
#searchResults{
    background-color:#141414f1;
    border-color:#141414;
    color:white; 
}
#emojiHeading{
    background-color:#141414f1;
    border-color:#141414;
    color:white;
}
#emojiBody{
    background-color: whitesmoke;
    color: #141414;
}
.emoji-Btn{
    background-color:#1414144d;
}
#feelHeading{
    background-color:#141414f1;
    border-color:#141414;
    color:white;
}
#feelBody{
    background-color: whitesmoke;
    color: #141414;
}
#ratherHeading{
    background-color:#141414f1;
    border-color:#141414;
    color:white;
}
#ratherBody{
    background-color: whitesmoke;
    color: #141414;
}
#breatheBtn{
    background-color: #e50914;
    border-color: #ff0a16;
    color:white;
}
#paintBtn{
    background-color: #e50914;
    border-color: #ff0a16;
    color:white;
}
#napBtn{
    background-color: #e50914;
    border-color: #ff0a16;
    color:white;
}
#commentsHeading{
    background-color:#141414f1;
    border-color:#141414;
    color:white;
}
#commentsBody{
    background-color: whitesmoke;
    color: #141414;
}
#submitBtn{
    background-color: #e50914;
    border-color: #ff0a16;
    color:white;
}











.poster-pic {
    cursor: pointer;
}